<div class="conatiner">

    <div class="row">
        <div class="col">
            <form action ="/userlist/{{stuid}}" method = "post">
                      
            <div class ="form-group">
            <label class="col-lg-3 control-label" name ="rating">Rate the students:</label>
            <input class ="form-control" type ="number" name ="rating" placeholder ="name"><br>
            </div>
             <div class ="form-group">
              <label class="col-lg-3 control-label" name ="percentage">Percentage:</label>
            <input  class ="form-control" type ="number" name ="percentage" placeholder ="image name"><br>
            </div>
            <button type ="submit" class ="btn btn-warning">Submit</button>
            </form>
        </div>
    </div>
</div>