 <div class="container">
     <div class="row">
         <div class="col">
             <ul>
                 {{# each item}}
                   <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a  href ="/userlist/{{this.id}}"style = "font-family : Oswald ; font-size : 20px; color:black;">{{this.name}}</a>
                 
                  </li>
                  
                   {{/each}}
             </ul>
         </div>
     </div>
 </div>